.sectionHero {
  background-color: #050b07;
  //padding: 4.8rem 0 9.6rem 0;

  .hero {
    max-width: 130rem;
    margin: 0 auto;
    padding: 0 3.2rem;

    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 9.6rem;

    .heroDescription {
      font-size: 3rem;
      line-height: 1.6;
      margin-bottom: 4.8rem;
    }

    .heroImg {
      width: 100%;
    }

  }

}







