
.btn {
  &:link, &:visited {
    text-decoration: none;
    font-size: 2rem;
    font-weight: 600;
    padding: 1.6rem 3.2rem;
    border-radius: 9px;
    transition: all 0.3s;

    /*Only for class .btn itself*/
    border: none;
    cursor: pointer;
    font-family: inherit;

    display: inline-block;
  }
}

.btnFull {
  &:link, &:visited {
    background-color: #303538;
    color: #fff;
  }

  &:hover, &:active {
    background-color: #D2DCFF;
    color: #303538;
  }
}

.btnOutline {
  &:link, &:visited {
    background-color: #ffffff;
    color: #555555;
  }

  &:hover, &:active {
    /*background-color: #fdf2e9;*/
    /* Trick to add border inside element using box-shadow */
    box-shadow: 0 0 0 3px #fff;
    background-color: #D2DCFF;
    color: #303538;
  }
}

.btnForm {
  background-color: #2b2722;
  color: #fdf2e9;
  align-self: end;
  padding: 1.2rem;

  &:hover {
    background-color: #fff;
    color: #555;
  }
}
