
.sectionFooter {
  padding: 9.8rem 0;
  border-top: 1px solid #eee;
  background-color: #050b07;

  .gridFooter {
    grid-template-columns: 1fr 1fr;
  }

  .footerHeading {
    font-size: 2.8rem;
    font-weight: 500;
    margin-bottom: 4rem;
  }

  .contacts {
    font-style: normal;
    font-size: 1.8rem;
    line-height: 1.6;

    .address {
      margin-bottom: 1.4rem;
    }
  }
}

.footerLink, :link, :visited {
  text-decoration: none;
  font-size: 1.6rem;
  color: #767676;
  transition: all 0.3s;
  margin-bottom: 2.4rem;

  display: inline-block;

  &:hover, :active {
    color: #555;
  }
}

.logoCol {
  display: flex;
  flex-direction: column;

  .footerHeading {
    font-size: 2.8rem;
    font-weight: 500;
    margin-bottom: 4rem;
  }

  .socialLinks {
    list-style: none;

    display: flex;
    gap: 2.4rem;
    align-items: center;
  }

  .copyright {
    font-size: 1.4rem;
    color: #767676;
    line-height: 2.4rem;
    margin-top: 5rem;
  }
}

.socialIcon {
  height: 2.4rem;
  width: 2.4rem;
  border: 1px solid red;
}
