@import "Tech.module";

.sectionTechStack {
  background-color: #050b07;
  display: grid;
  grid-template-columns: 55fr 45fr;
  align-items: center;
  padding-bottom: 2.4rem;
}

.techStackContainer {
  padding: 9.6rem;
}

.technologies {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 4.8rem;
  column-gap: 8rem;
}

.techText {
  font-size: 1.8rem;
  line-height: 1.8;
  margin-bottom: 1.6rem;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.6rem;
  padding: 1.6rem;
}