.sectionHero {
  background-color: #050b07;
}
.sectionHero .hero {
  max-width: 130rem;
  margin: 0 auto;
  padding: 0 3.2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 9.6rem;
}
.sectionHero .hero .heroDescription {
  font-size: 3rem;
  line-height: 1.6;
  margin-bottom: 4.8rem;
}
.sectionHero .hero .heroImg {
  width: 100%;
}

.btn:link, .btn:visited {
  text-decoration: none;
  font-size: 2rem;
  font-weight: 600;
  padding: 1.6rem 3.2rem;
  border-radius: 9px;
  transition: all 0.3s;
  /*Only for class .btn itself*/
  border: none;
  cursor: pointer;
  font-family: inherit;
  display: inline-block;
}

.btnFull:link, .btnFull:visited {
  background-color: #303538;
  color: #fff;
}
.btnFull:hover, .btnFull:active {
  background-color: #D2DCFF;
  color: #303538;
}

.btnOutline:link, .btnOutline:visited {
  background-color: #ffffff;
  color: #555555;
}
.btnOutline:hover, .btnOutline:active {
  /* Trick to add border inside element using box-shadow */
  box-shadow: 0 0 0 3px #fff;
  background-color: #D2DCFF;
  color: #303538;
}

.btnForm {
  background-color: #2b2722;
  color: #fdf2e9;
  align-self: end;
  padding: 1.2rem;
}
.btnForm:hover {
  background-color: #fff;
  color: #555;
}

/* MOBILE */
.btnMobileNav {
  border: none;
  background: none;
  cursor: pointer;
  display: none;
}

.iconMobNav {
  height: 4.8rem;
  width: 4.8rem;
  color: #333;
}
.iconMobNav[name=close-outline] {
  display: none;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #050b07;
  /* Because we want header to be sticky later */
  height: 9.6rem;
  padding: 0 4.8rem;
  position: relative;
}

.logo {
  height: 2.2rem;
  display: none;
}

.sectionIntroduction {
  padding: 9.6rem 0 3.4rem 0;
  background-color: #050b07;
}

.stepDescription {
  font-size: 1.8rem;
  line-height: 1.8;
}

.stepImgBox {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  position: relative;
}
.stepImgBox::before, .stepImgBox::after {
  content: "";
  display: block;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.stepImgBox::before {
  width: 60%;
  padding-bottom: 60%;
  background-color: #fdf2e9;
  border-radius: 50%;
  z-index: -2;
}
.stepImgBox::after {
  width: 45%;
  padding-bottom: 45%;
  background-color: #fae5d3;
  z-index: -1;
}

.first {
  border: none;
}

.introductionText {
  margin: 2.4rem 12.6rem 9.6rem 12.6rem;
  border: none;
  font-size: 3.4rem;
}

.stepImg {
  width: 70%;
  border-radius: 9px;
}

.img2 {
  width: 60%;
}

.img3 {
  width: 40%;
}

.galleryItem {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1.5rem;
}
.galleryItem img {
  display: block;
  width: 50%;
  transition: all 0.4s;
  height: 50%;
}
.galleryItem figcaption {
  text-transform: uppercase;
}
.galleryItem img:hover {
  transform: scale(1.1);
}

.sectionTechStack {
  background-color: #050b07;
  display: grid;
  grid-template-columns: 55fr 45fr;
  align-items: center;
  padding-bottom: 2.4rem;
}

.techStackContainer {
  padding: 9.6rem;
}

.technologies {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 4.8rem;
  column-gap: 8rem;
}

.stepNumber {
  font-size: 8.6rem;
  font-weight: 600;
  color: #ddd;
  margin-bottom: 1.2rem;
}

.techText {
  font-size: 1.8rem;
  line-height: 1.8;
  margin-bottom: 1.6rem;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.6rem;
  padding: 1.6rem;
}

.galleryItem {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1.5rem;
}
.galleryItem img {
  display: block;
  width: 50%;
  transition: all 0.4s;
  height: 50%;
}
.galleryItem figcaption {
  text-transform: uppercase;
}
.galleryItem img:hover {
  transform: scale(1.1);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /*font-size: 10px; */
  /* 10px / 16px(default browser font-size setting) = 0.625 = 62.5% */
  /*Percentage of user's browser font-size setting*/
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  font-family: "Rubik", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #fff;
  overflow-x: hidden;
}

.headingPrimary,
.headingSecondary,
.headingTertiary {
  font-weight: 700;
  color: #fff;
  letter-spacing: -0.5px;
  border-top: 1px solid grey;
  padding-top: 3rem;
}

.headingPrimary {
  font-size: 7.2rem;
  line-height: 1.05;
  margin-bottom: 3.2rem;
}

.headingSecondary {
  font-size: 4.4rem;
  line-height: 1.2;
  margin-bottom: 7.6rem;
}

.headingTertiary {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 3.2rem;
}

.subheading {
  display: block;
  font-size: 2rem;
  font-weight: 500;
  color: #e67e22;
  text-transform: uppercase;
  margin-bottom: 1.6rem;
}

.mainNavList {
  display: flex;
  align-items: center;
  gap: 4.8rem;
  list-style: none;
}

.mainNavLink:link, .mainNavLink:visited {
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  font-size: 1.8rem;
  transition: all 0.3s;
  display: inline-block;
}
.mainNavLink:hover, .mainNavLink:active {
  color: #D2DCFF;
}

.mainNavLink.navCta:link, .mainNavLink.navCta:visited {
  padding: 1.2rem 2.4rem;
  border-radius: 9px;
  color: #fff;
  background-color: #303538;
}
.mainNavLink.navCta:hover, .mainNavLink.navCta:active {
  background-color: #D2DCFF;
  color: #303538;
}

.container {
  max-width: 120rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}

.grid {
  display: grid;
  row-gap: 6.4rem;
  column-gap: 9.6rem;
}
.grid:not(:last-child) {
  margin-bottom: 9.6rem;
}

.grid2Cols {
  grid-template-columns: repeat(2, 1fr);
}

.grid3Cols {
  grid-template-columns: repeat(3, 1fr);
}

.grid4Cols {
  grid-template-columns: repeat(4, 1fr);
}

.grid5Cols {
  grid-template-columns: repeat(5, 1fr);
}

.gridCenterV {
  align-items: center;
}

/**************************/
/* HELPER/SETTINGS CLASSES */
/**************************/
.margin-right-sm {
  margin-right: 1.6rem !important;
}

.margin-bottom-md {
  margin-bottom: 4.8rem !important;
}

.center-text {
  text-align: center;
}

strong {
  font-weight: 500;
}

/*# sourceMappingURL=App.module.css.map */
