.sectionHero {
  background-color: #050b07;
}
.sectionHero .hero {
  max-width: 130rem;
  margin: 0 auto;
  padding: 0 3.2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 9.6rem;
}
.sectionHero .hero .heroDescription {
  font-size: 3rem;
  line-height: 1.6;
  margin-bottom: 4.8rem;
}
.sectionHero .hero .heroImg {
  width: 100%;
}

.btn:link, .btn:visited {
  text-decoration: none;
  font-size: 2rem;
  font-weight: 600;
  padding: 1.6rem 3.2rem;
  border-radius: 9px;
  transition: all 0.3s;
}

.btnFull:link, .btnFull:visited {
  background-color: #303538;
  color: #fff;
}
.btnFull:hover, .btnFull:active {
  background-color: #D2DCFF;
  color: #303538;
}

.btnOutline:link, .btnOutline:visited {
  background-color: #ffffff;
  color: #555555;
}
.btnOutline:hover, .btnOutline:active {
  /* Trick to add border inside element using box-shadow */
  box-shadow: 0 0 0 3px #fff;
  background-color: #D2DCFF;
  color: #303538;
}

.btnForm {
  background-color: #2b2722;
  color: #fdf2e9;
  align-self: end;
  padding: 1.2rem;
}
.btnForm:hover {
  background-color: #fff;
  color: #555;
}

/* MOBILE */
.btnMobileNav {
  border: none;
  background: none;
  cursor: pointer;
  display: none;
}

.iconMobNav {
  height: 4.8rem;
  width: 4.8rem;
  color: #333;
}
.iconMobNav[name=close-outline] {
  display: none;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #050b07;
  /* Because we want header to be sticky later */
  height: 9.6rem;
  padding: 0 4.8rem;
  position: relative;
}

.logo {
  height: 2.2rem;
  display: none;
}

.sectionIntroduction {
  padding: 9.6rem 0 3.4rem 0;
  background-color: #050b07;
}

.stepDescription {
  font-size: 1.8rem;
  line-height: 1.8;
}

.stepImgBox {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  position: relative;
}
.stepImgBox::before, .stepImgBox::after {
  content: "";
  display: block;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.stepImgBox::before {
  width: 60%;
  padding-bottom: 60%;
  background-color: #fdf2e9;
  border-radius: 50%;
  z-index: -2;
}
.stepImgBox::after {
  width: 45%;
  padding-bottom: 45%;
  background-color: #fae5d3;
  z-index: -1;
}

.first {
  border: none;
}

.introductionText {
  margin: 2.4rem 12.6rem 9.6rem 12.6rem;
  border: none;
  font-size: 3.4rem;
}

.stepImg {
  width: 70%;
  border-radius: 9px;
}

.img2 {
  width: 60%;
}

.img3 {
  width: 40%;
}

.galleryItem {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1.5rem;
}
.galleryItem img {
  display: block;
  width: 50%;
  transition: all 0.4s;
  height: 50%;
}
.galleryItem figcaption {
  text-transform: uppercase;
}
.galleryItem img:hover {
  transform: scale(1.1);
}

.sectionTechStack {
  background-color: #050b07;
  display: grid;
  grid-template-columns: 55fr 45fr;
  align-items: center;
  padding-bottom: 2.4rem;
}

.techStackContainer {
  padding: 9.6rem;
}

.technologies {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 4.8rem;
  column-gap: 8rem;
}

.stepNumber {
  font-size: 8.6rem;
  font-weight: 600;
  color: #ddd;
  margin-bottom: 1.2rem;
}

.techText {
  font-size: 1.8rem;
  line-height: 1.8;
  margin-bottom: 1.6rem;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.6rem;
  padding: 1.6rem;
}

.galleryItem {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1.5rem;
}
.galleryItem img {
  display: block;
  width: 50%;
  transition: all 0.4s;
  height: 50%;
}
.galleryItem figcaption {
  text-transform: uppercase;
}
.galleryItem img:hover {
  transform: scale(1.1);
}

.projectLink:link, .projectLink:visited {
  text-decoration: none;
  color: #fdf2e9;
}
.projectLink:hover, .projectLink:active {
  opacity: 70%;
}

.project {
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
  border-radius: 11px;
  overflow: hidden;
  transition: all 0.4s;
  display: block;
  height: 100%;
}
.project:hover {
  transform: translateY(-1.2rem);
  box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.06);
}
.project img {
  width: 80%;
  height: 40%;
  border-radius: 1rem;
}
.project .projectContent {
  padding: 3.2rem 0 4.8rem 0;
}
.project .projectContent .projectTitle {
  font-size: 2.8rem;
  color: #fff;
  font-weight: 600;
  margin-bottom: 3.2rem;
}
.project .projectTags {
  margin-bottom: 1.2rem;
  display: flex;
  align-items: center;
  gap: 0.4rem;
}
.project .projectTags .projectAttributes {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.project .projectTags .projectAttributes li {
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  gap: 1.6rem;
}
.project .projectTags .projectAttributes li ion-icon {
  height: 2.4rem;
  width: 2.4rem;
  color: #e67e22;
}

.sectionProjects {
  padding: 5.6rem 0 2.4rem 0;
  background-color: #050b07;
}

.sectionContactMe {
  padding: 4.8rem 0 12.8rem 0;
  background-color: #050b07;
}

.cta {
  display: grid;
  grid-template-columns: 2fr 1fr;
  background-color: rgba(31, 33, 38, 0.15);
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.015);
  border-radius: 11px;
  /*overflow: hidden;*/
  background-image: linear-gradient(to right bottom, #8f7e6a, rgba(234, 234, 221, 0.3));
  /*height: 50rem;*/
}
.cta .ctaTextBox {
  padding: 4.8rem 6.4rem 6.4rem 6.4rem;
  color: #151616;
}
.cta .ctaTextBox .ctaText {
  font-size: 1.8rem;
  line-height: 1.8;
  margin-bottom: 4.8rem;
}
.cta .ctaTextBox .ctaForm {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 3.2rem;
  row-gap: 2.4rem;
}
.cta .ctaTextBox .ctaForm label {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 1.2rem;
}
.cta .ctaTextBox .ctaForm input {
  width: 100%;
  padding: 1.2rem;
  font-size: 1.8rem;
  font-family: inherit;
  color: inherit;
  border: none;
  background-color: #fdf2e9;
  border-radius: 9px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}
.cta .ctaTextBox .ctaForm input::placeholder {
  color: #aaa;
}
.cta .ctaImgBox {
  background-image: linear-gradient(to right bottom, rgba(238, 215, 195, 0.01), rgba(227, 186, 151, 0.1)), url("https://images.unsplash.com/photo-1562907550-096d3bf9b25c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NjJ8fGNvZGV8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=500&q=60");
  background-size: auto;
  background-position: center;
}

.cta *:focus {
  outline: none;
  box-shadow: 0 0 0 0.8rem rgba(253, 242, 233, 0.5);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /*font-size: 10px; */
  /* 10px / 16px(default browser font-size setting) = 0.625 = 62.5% */
  /*Percentage of user's browser font-size setting*/
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  font-family: "Rubik", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #fff;
  overflow-x: hidden;
}

.headingPrimary,
.headingSecondary,
.headingTertiary {
  font-weight: 700;
  color: #fff;
  letter-spacing: -0.5px;
  border-top: 1px solid grey;
  padding-top: 3rem;
}

.headingPrimary {
  font-size: 7.2rem;
  line-height: 1.05;
  margin-bottom: 3.2rem;
}

.headingSecondary {
  font-size: 4.4rem;
  line-height: 1.2;
  margin-bottom: 7.6rem;
}

.headingTertiary {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 3.2rem;
}

.subheading {
  display: block;
  font-size: 2rem;
  font-weight: 500;
  color: #e67e22;
  text-transform: uppercase;
  margin-bottom: 1.6rem;
}

.mainNavList {
  display: flex;
  align-items: center;
  gap: 4.8rem;
  list-style: none;
}

.mainNavLink:link, .mainNavLink:visited {
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  font-size: 1.8rem;
  transition: all 0.3s;
  display: inline-block;
}
.mainNavLink:hover, .mainNavLink:active {
  color: #D2DCFF;
}

.mainNavLink.navCta:link, .mainNavLink.navCta:visited {
  padding: 1.2rem 2.4rem;
  border-radius: 9px;
  color: #fff;
  background-color: #303538;
}
.mainNavLink.navCta:hover, .mainNavLink.navCta:active {
  background-color: #D2DCFF;
  color: #303538;
}

.container {
  max-width: 120rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}

.grid {
  display: grid;
  row-gap: 6.4rem;
  column-gap: 9.6rem;
}
.grid:not(:last-child) {
  margin-bottom: 9.6rem;
}

.grid2Cols {
  grid-template-columns: repeat(2, 1fr);
}

.grid3Cols {
  grid-template-columns: repeat(3, 1fr);
}

.grid4Cols {
  grid-template-columns: repeat(4, 1fr);
}

.grid5Cols {
  grid-template-columns: repeat(5, 1fr);
}

.gridCenterV {
  align-items: center;
}

/**************************/
/* HELPER/SETTINGS CLASSES */
/**************************/
.marginRightSm {
  margin-right: 1.6rem !important;
}

.marginBottomMd {
  margin-bottom: 4.8rem !important;
}

.centerText {
  text-align: center;
}

strong {
  font-weight: 500;
}

/*# sourceMappingURL=App.module.css.map */
